body {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0;
  padding: 0;
}
.display-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
.display-players .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  margin: 5px;
}
.display-players .container .image {
  background-color: beige;
  display: flex;
  justify-content: center;
  margin: 5px 5px;
}
.display-players .container .image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  color: black;
  text-align: center;
}
.display-players .container .player-name {
  color: black;
  font-size: larger;
  margin: 5px;
  font-weight: bold;
}
.display-players .container .btns-container {
  margin: 5px;
  display: flex;
  gap: 10px;
}
.searchbar {
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar label {
  margin-right: 10px;
  font-size: 2vw;
}
.searchbar input {
  font-size: larger;
  padding: 5px;
  border-radius: 10px;
}
.searchbar input:hover {
  border: solid 1px white;
}
.add-player-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-player-form form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  width: 50%;
  /* background-color: aqua; */
}
.add-player-form h1 {
  text-align: center;
  text-decoration: underline;
  text-shadow: 3px 3px red;
}
.add-player-form form label {
  margin-top: 5px;
  color: white;
}
.add-player-form form input,
.add-player-form form textarea {
  padding: 5px;
  font-size: large;
  color: antiquewhite;
}
.add-player-form form textarea {
  max-width: 90%;
}
.add-player-form form button {
  margin: 10px;
}
.display-player-detail {
  margin-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  /* background-color: aqua; */
  min-width: 600px;
  min-height: 600px;
  border: solid 5px white;
  border-radius: 10px;
  font-size: larger;
}
.display-player-detail .image-container {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
}
.display-player-detail .image-container img {
  width: 300px;
  height: 300px;
  border: solid 1px white;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 5px 4px 5px white;
  object-fit: cover;
}
.display-player-detail p {
  margin: 0;
  margin-top: 5px;
}
.display-player-detail button {
  margin-top: 5px;
}
